@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
}
.col-3{
    flex-basis: 30%;
    flex-wrap: wrap;
}
.header-color{
    color: #FFAD5A;
}
.btn{
    background-color: #FF5959;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
#baner{
    width: 80%;
    margin: auto;
}
#baner .baner-text h1{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #333333;
}
#baner p{
    padding: 20px 20px 20px 0;
    color: #3E3E3E;
}
.baner-img{
    width: 80%;
    float: right;
}


#mission h1{
    color: #13103A;
    width: 40%;
    margin: 20px auto;
    font-weight: bold;
}
#mission{
    width: 90%;
    margin: auto;
}
#mission .box-area{
    border-radius: 12px;
    margin: 15px;
    text-align: justify;
}
#mission .box-area-1{
    background-color: #EEF6F7;
}
#mission .box-area-2{
    background-color: #FFEFEF;
}
#mission .box-area-3{
    background-color: #FFF4D6;
}
#mission .box-area img{
    width: 150px;
    padding-top: 10px;
    margin-left: 20px;
}
#mission .box-area h2{
    padding-left: 27px;
}
#mission .box-area p{
    padding: 27px 27px 35px 27px;
}